<ul class="pager">
  <% if @week.previous? %>
    <li class="previous">
      <%= link_to '←', bets_path(week: @week.previous) %>
    </li>
  <% else %>
    <li class='previous disabled'>
      <a>←</a>
    </li>
  <% end %>
  <li class="week">
    Semana <%= @week.number %>:
    <%= @week.start.strftime("%d/%m") %> a <%= @week.finish.strftime("%d/%m") %>
  </li>
  <% if @week.next? %>
    <li class="next">
      <%= link_to '→', bets_path(week: @week.next) %>
    </li>
  <% else %>
    <li class="next disabled">
      <a>→</a>
    </li>
  <% end %>
</ul>
