<ul class="pager">
  <% if @navigation.previous? %>
    <li class="previous">
      <%= link_to '←', bets_path(day: @navigation.previous) %>
    </li>
  <% else %>
    <li class='previous disabled'>
      <a>←</a>
    </li>
  <% end %>
  <li class="week">
    Semana <%= @navigation.week %>:
    <%= @navigation.start.strftime("%d/%m") %> a <%= @navigation.finish.strftime("%d/%m") %>
  </li>
  <% if @navigation.next? %>
    <li class="next">
      <%= link_to '→', bets_path(day: @navigation.next) %>
    </li>
  <% else %>
    <li class="next disabled">
      <a>→</a>
    </li>
  <% end %>
</ul>
