<% content_for :title do %>
  Meus palpites

  <ul class="nav navbar-nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= @group.championship %>
        <small><%= @group %></small>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <% @groups.each do |group| %>
            <%= link_to bets_path(group_id: group) do %>
              <%= group.championship %>
              <small><%= group %></small>
            <% end %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <% render "week_navigation" %>

    <div id="bets" class="list-group row">
    </div>
  </div>

  <%= render "shared/ranking" %>
</div>

<script type="text/template" id="bet-template">
  <div class="col-sm-1">
    <div class="text-center bg-success"><strong><%%- weekday %></strong></div>
    <div class="text-center"><%%- time %></div>
    <div class="text-center"><small class="text-muted"><%%- date %></small></div>
  </div>

  <div class="col-sm-1 text-center round"><%%- round %></div>

  <div class="col-sm-9 teams <%%- is_bettable ? 'bettable': '' %>">
    <div class="col-sm-3 team-name text-right"><%%- team_home %></div>
    <div class="col-sm-1 team-image text-center"><img src="<%%- team_home_image_url %>" class="img-responsive" /></div>
    <div class="col-sm-4 text-center goal">
      <input type="text" value="<%%- team_home_goals %>" disabled />
      <span class="vs">x</span>
      <input type="text" value="<%%- team_away_goals %>" disabled />
    </div>
    <div class="col-sm-1 team-image text-center"><img src="<%%- team_away_image_url %>" class="img-responsive" /></div>
    <div class="col-sm-3 team-name"><%%- team_away %></div>
  </div>

  <div class="col-sm-1 text-center points">
    <%%- points %>
    <button class="hidden btn btn-primary save-bet" title="Salvar!">Salvar!</button>
  </div>
</script>
