<% content_for :title do %>
  Meus palpites

  <ul class="nav navbar-nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= @group.championship %>
        <small><%= @group %></small>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <% @groups.each do |group| %>
            <%= link_to bets_path(group_id: group) do %>
              <%= group.championship %>
              <small><%= group %></small>
            <% end %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <% render "week_navigation" %>

    <div id="bets" class="list-group row">
    </div>
  </div>
</div>

<%= render "shared/ranking" %>

<script type="text/template" id="bet-template">
  <div class="col-xs-1">
    <div class="text-center bg-success"><strong><%%- weekday %></strong></div>
    <div class="text-center"><%%- time %></div>
    <div class="text-center"><small class="text-muted"><%%- date %></small></div>
  </div>

  <div class="col-xs-10 teams <%%- is_bettable ? 'bettable': '' %>">
    <div class="col-xs-3 team-name text-right"><%%- team_home_short %></div>
    <div class="col-xs-1 team-image text-center"><img src="<%%- team_home_image_url %>" class="img-responsive" /></div>
    <div class="col-xs-4 text-center goal">
      <div class="row text-center">
        <div class="col-xs-5"><input type="text" value="<%%- team_home_goals %>" disabled /></div>
        <div class="vs col-xs-2">x</div>
        <div class="col-xs-5"><input type="text" value="<%%- team_away_goals %>" disabled /></div>
      </div>
    </div>
    <div class="col-xs-1 team-image text-center"><img src="<%%- team_away_image_url %>" class="img-responsive" /></div>
    <div class="col-xs-3 team-name"><%%- team_away_short %></div>
  </div>

  <div class="col-xs-1 text-center points">
    <%%- points %>
    <button class="hidden btn btn-primary save-bet" title="Salvar!">Salvar!</button>
  </div>
</script>
