<% content_for :title do %>
  Palpites de <%= @member %> no <%= @group %>
<% end %>

<div class="col-xs-12">
  <ul class="pager">
    <% if @week.previous? %>
      <li class="previous">
        <%= link_to '←', group_member_bets_path(@group, @member, week: @week.previous) %>
      </li>
    <% else %>
      <li class='previous disabled'>
        <a>←</a>
      </li>
    <% end %>
    <li class="week">
      Semana <%= @week.number %>:
      <%= @week.start.strftime("%d/%m") %> a <%= @week.finish.strftime("%d/%m") %>
    </li>
    <% if @week.next? %>
      <li class="next">
        <%= link_to '→', group_member_bets_path(@group, @member, week: @week.next) %>
      </li>
    <% else %>
      <li class="next disabled">
        <a>→</a>
      </li>
    <% end %>
  </ul>

  <div id="bets" class="list-group row">
  <% @bets.each do |bet| %>
    <div class="list-group-item bet">
      <div class="col-xs-1">
        <div class="text-center bg-success"><strong><%= I18n.t("date.abbr_day_names")[bet.game.played_at.strftime("%w").to_i] %></strong></div>
        <div class="text-center"><%= bet.game.played_at.strftime("%H:%M") %></div>
        <div class="text-center"><small class="text-muted"><%= bet.game.played_at.strftime("%d/%m") %></small></div>
      </div>

      <div class="col-xs-10 teams">
        <div class="col-xs-3 team-name text-right"><%= bet.team_home %></div>
        <div class="col-xs-1 team-image text-center"><%= image_tag bet.team_home.image.url, class: "img-responsive" %></div>
        <div class="col-xs-4 text-center goal">
          <%= text_field_tag "home_goals", bet.team_home_goals %>
          <span class="vs">x</span>
          <%= text_field_tag "away_goals", bet.team_away_goals %>
        </div>
        <div class="col-xs-1 team-image text-center"><%= image_tag bet.team_away.image.url, class: "img-responsive" %></div>
        <div class="col-xs-3 team-name"><%= bet.team_away %></div>
      </div>

      <div class="col-xs-1 text-center points"><%= bet.points %></div>
    </div>
  <% end %>
  </div>
</div>

<%= render "shared/ranking" %>
